@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Fira+Sans&family=Fira+Code&display=swap');

:root {
	font-family: 'Fredoka One', 'Fira Sans', sans-serif;
	font-size: 10px;
	--font-code: 'Fira Code', 'Fira Sans', sans-serif;
	--font-weight-default: 400;

	// Color
	--color-dark: #1f1f1f;
	--color-dark-bright: #8e8e8e;
	--color-white: #f1f1f1;
	--color-white-dark: #e1e1e1;
	--color-red: #df7861;
	--color-red-dark: #f47c7c;
	--color-yellow: #ffb562;
	--color-yellow-bright: #f8e6d1;
	--color-green: #adcf9f;
	--color-green-dark: #94b49f;
	--color-blue: #607eaa;
	--color-blue-dark: #06113c;
}

// Initialize
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	// Font
	color: var(--color-dark);
}

a {
	text-decoration: none;
	color: var(--color-dark);
}

// Code
code {
	font-size: 1.4rem;
	font-family: var(--font-code);
	font-weight: var(--font-weight-default);
}
